.container-skills {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vw;
  align-items: center;
}

.placement {
  width: 100vw;
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: center;
}

.devElement {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.webElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webElement > p {
  margin-bottom: 2.5vw;
  font-size: 2vw;
}

.webElement > div {
    width: 13vw;
  height: 7vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.titleOther {
  width: 100vw;
  border-bottom: 2px solid #555555;
  display: flex;
  justify-content: space-around;
}

.Javascript {
  background-image: url(../../assets/javascript-39404.png);
}

.React {
  background-image: url(../../assets/react.svg);
}

.TailwindCSS {
  background-image: url(../../assets/tailwindcss.svg);
}

.Mongo {
  background-image: url(../../assets/mongodb.png);
}

.Express {
  background-image: url(../../assets/expressjs.svg);
}

.Node {
  background-image: url(../../assets/nodejs.svg);
}

.Netifly {
  background-image: url(../../assets/netlify.svg);
}

.Render {
  background-image: url(../../assets/render.png);
}

.Figma {
  background-image: url(../../assets/figma.svg);
}

.GitHub {
  background-image: url(../../assets/github.svg);
}

.Ironhack {
  background-image: url(../../assets/ironhack.svg);
}

.OpenClassrooms {
  background-image: url(../../assets/openClassrooms.png);
}

.linkedin {
  background-image: url(../../assets/linkedin.png);
}

.email {
  background-image: url(../../assets/gmail.png);
}

.cv {
  background-image: url(../../assets/cv.png);
}
