@font-face {
  font-family: "bebasNeue";
  src: url("../../Fonts/BebasNeue-Regular.otf");
}

body{
    background-color: black;
}

.container {
    width: 100vw; /* 100% de la largeur de la fenêtre */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ajoutez d'autres styles si nécessaire */
  }

.font {
  width: 500px;
  height: 500px;
  background-color: transparent;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bounce > .circle {
  width: 250px;
  height: 250px;
  border: 5px solid white; /* Couleur du crayon */
  border-radius: 50%; /* Pour créer un cercle */
  position: relative;
  background-image: url("../../assets/font-homepage.png");
  animation: drawCircle 2.7s ease-out forwards;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@keyframes drawCircle {
  0% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transform: rotate(1080deg);
  }
}

.bounce {
  background-color: transparent;
  border-color: transparent;
}

.hovered:hover {
  animation: scale 0.8s ease-in-out backwards;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.hovered {
  transform: scale(1.3);
}

.notHovered {
  animation: unScale 0.8s ease-in-out backwards;
}

@keyframes unScale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.circle-text {
  position: absolute;
  text-align: center;
  top: 60%;
  width: 260px;
  height: 50px;
  margin-top: 8rem;
  font-family: "bebasNeue";
  font-size: 25px;
  font-weight: 1100;
  letter-spacing: 2px;
  color: transparent;
  animation: colorTransition 3s ease-in forwards;
}

@keyframes colorTransition {
  0% {
    opacity: 0;
    color: transparent;
  }
  100% {
    opacity: 1;
    color: rgb(255, 255, 255);
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}

.font-color {
  background-color: rgb(197, 196, 196);
  opacity: 0.5;
  border: 2px solid white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  position: fixed;
  box-sizing: border-box;
  top: 90%;
  left: 5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-color:hover {
  animation: templateTransition 0.5s ease-in-out backwards;
}

@keyframes templateTransition {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

.opened {
  width: 200px;
}

.closed {
  animation: templateOrigin 0.5s ease-in-out backwards;
}

@keyframes templateOrigin {
  0% {
    width: 200px;
  }
  100% {
    width: 50px;
  }
}

.color-show {
  border: 2px solid rgb(224, 214, 214);
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: none;
}

.color1 {
  background-color: rgb(214, 169, 151);
}

.color2 {
  background-color: rgb(140, 139, 193);
}

.color3 {
  background-color: rgb(137, 188, 142);
}

.color4 {
  background-color: rgb(196, 142, 182);
}

.font-color:hover .color1 {
  display: inline-block;
}

.font-color:hover .color2,
.font-color:hover .color3,
.font-color:hover .color4 {
  display: inline-block;
  margin-left: 1rem;
}

.glowUp {
    border: 3px solid rgb(255, 255, 255);
}
