@font-face {
  font-family: "bebasNeue";
  src: url("../../Fonts/BebasNeue-Regular.otf");
  font-family: "poppins";
  src: url("../../Fonts/Poppins-Medium.ttf");
  font-family: "impact";
  src: url("../../Fonts/Impact.ttf");
  font-family: "kelsi";
  src: url("../../Fonts/kelsi/Kelsi-fill.otf");
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
ul {
  font-family: "impact";
  color: rgb(40, 40, 40);
  letter-spacing: 0.43%;
}
p,
ul > li {
  font-family: "poppins";
  color: rgb(40, 40, 40);
  letter-spacing: 0.43%;
  line-height: 99.5%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}