@font-face {
  font-family: "bebasNeue";
  src: url("../../Fonts/BebasNeue-Regular.otf");
}

.menu {
  border: 2px solid black;
  border-radius: 50px;
  display: flex;
  padding-inline-start: 0px;
  width: 50vw;
  box-sizing: border-box;
  justify-content: space-evenly;
  font-family: "bebasNeue";
  color: aliceblue;
  align-items: center;
  font-size: 2vw;
  transition: color 0.3s;
  padding: 10px;
  position: fixed;
  background-color: black;
  top: 2%;
}

.menu li {
  text-decoration: none;
  transition: color 0.3s;
}

.menu li:hover {
  color: yellow;
}
