.container-button {
    width: 8vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 60px;
    background-color: gray;
    position: absolute;
    top: 5%;
    left: 305%;
}

.container-button > .B {
    width: 6vw;
    height: 6vw;
    border: 2px solid black;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vw;
    background-color: greenyellow;
}

.B1 {
    background: url("../../assets/fleche.svg");
    transform: rotate(180deg);
}

.B2 {
    background: url("../../assets/fleche.svg");
}
