.description {
  width: 80vw;
  font-size: 3vw;
}

.text-repeat {
  width: 100vw;
  height: 15vw;
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.text {
  font-family: "kelsi";
  display: flex;
  align-items: center;
  width: 100%;
  height: 200px;
  font-size: 8vw;
  height: 100%;
  white-space: nowrap;
  animation: defilement 4s linear infinite;
}

@keyframes defilement {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
