@font-face {
  font-family: "kelsi-light";
  src: url("../../Fonts/kelsi/Kelsi-Regular.otf");
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500vh;
  justify-content: center;
}

.presentation,
.about,
.skills,
.projet,
.contact {
  display: flex;
  /* width: 100vw;
  height: 850px; */
  flex: 1;
  padding: 20px;
  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.positionTitle {
  font-size: 5vw;
}

.positionSubTitle {
  font-size: 3vw;
}
