@font-face {
  font-family: "kelsi-light";
  src: url("../../Fonts/kelsi/Kelsi-Regular.otf");
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 500vw;
}

.presentation,
.about,
.skills,
.projet,
.contact {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.positionTitle {
  font-size: 8vw;
  margin-top: 5vh;
}

.positionSubTitle {
  font-size: 3vw;
}
