@font-face {
  font-family: "kelsi-light";
  src: url("../../Fonts/kelsi/Kelsi-Regular.otf");
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 500vw;
}

.presentation,
.about,
.skills,
.projet,
.contact {
  display: flex;
  flex: 1;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-bottom: 120px;
  justify-content: space-evenly;
}

.presentation {
  display: flex;
  justify-content: center;

}

.positionSubTitle {
  font-size: 3vw;
  margin-bottom: 0.7vh;
}
